---
BasedOnStyle: GNU
AlignConsecutiveDeclarations: true
AlwaysBreakAfterReturnType: All
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 2
BinPackParameters: false
BreakStringLiterals: false
PointerAlignment: Left
SortUsingDeclarations: false
SpaceBeforeParens: ControlStatements
TabWidth: 8
UseTab: Always
---
