.deps/
.libs/
Makefile
Makefile.in
*.la
*.lo
*.o
*~
*.swp
*.orig

/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/libtool
/stamp-h1

/include/abg-version.h
/*.pc

.tags
build/
TAGS
fedabipkgdiffc
tools/__pycache__/

libabigail-?.*

