*.log
*.py
*.sh
*.svg
*.trs
*.txt

.dirstamp

output/

mockfedabipkgdiff
printdifftree
runtestabicompat
runtestabidiff
runtestabidiffexit
runtestaltdwarf
runtestannotate
runtestcorediff
runtestdiffdwarf
runtestdiffdwarfabixml
runtestdifffilter
runtestdiffpkg
runtestdiffsuppr
runtestini
runtestkmiwhitelist
runtestlookupsyms
runtestreaddwarf
runtestreadwrite
runtestsvg
runtesttoolsutils
runtesttypesstability
testdiff2
testirwalker
